<div class="container" style="max-width: 650px">
  <div class="d-flex justify-content-center flex-column">
    <div class="alert alert-success" *ngIf="success">
      <strong>Reservierung gespeichert!</strong> Bitte überprüfen Sie Ihre E-Mails für die Bestätigung.
    </div>
    <div *ngIf="success && reservation">
      <div class="container" style="max-width: 650px">
        <div class="mt-4" *ngIf="reservation">
          <h4>Reservierungsdetails</h4>
          <table class="table reservation-table mt-1 table-striped" *ngIf="reservation">
            <tbody>
              <tr>
                <td>Name</td>
                <td>{{ reservation.billingCustomer.name }}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{ reservation.billingCustomer.email }}</td>
              </tr>
              <tr>
                <td>Buchungscode</td>
                <td>{{ reservation.bookingCode }}</td>
              </tr>
              <tr>
                <td>Adresse</td>
                <td>{{ reservation.billingCustomer.billingAddress }}</td>
              </tr>
              <ng-container *ngFor="let customer of reservation.customers">
                <tr>
                  <td>Name</td>
                  <td>{{ customer.name }}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>{{ customer.email }}</td>
                </tr>
              </ng-container>
              <tr>
                <td>Startdatum</td>
                <td>{{ reservation.startDate }}</td>
              </tr>
              <tr>
                <td>Enddatum</td>
                <td>{{ getEndDate(reservation.startDate, reservation.duration) }}</td>
              </tr>
              <tr>
                <td>Preis</td>
                <td>{{ reservation.price / 100 | currency: 'EUR' }}</td>
              </tr>
              <tr>
                <td>Rabatt</td>
                <td>{{ ((1 - reservation.discount) * 100).toFixed(2) + '%' }}</td>
              </tr>
              <ng-container *ngFor="let room of reservation.rooms">
                <tr>
                  <td>Zimmer</td>
                  <td>{{ room.room.identifyer }}</td>
                </tr>
                <tr>
                  <td>Belegung</td>
                  <td>{{ room.capacity.name }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="alert alert-danger" *ngIf="error">
      <strong>Reservierung fehlgeschlagen!</strong>
      <div>
        {{ errorMessage }}
      </div>
      <div>Bitte versuchen Sie es später nochmal.</div>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center mt-3 w-100">
    <form name="form" class="w-100" role="form" (ngSubmit)="createReservation()" [formGroup]="form" *ngIf="!success">
      <h4 class="my-2">Personendetails</h4>
      <div class="card m-2 p-2" formGroupName="billingCustomer">
        <div class="row">
          <div class="col">
            <label class="form-label" for="firstName">Vorname</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Vorname" formControlName="firstName" />
            <div
              *ngIf="
                form.controls['billingCustomer'].get('firstName')!.invalid &&
                (form.controls['billingCustomer'].get('firstName')!.dirty || form.controls['billingCustomer'].get('firstName')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="form.controls['billingCustomer'].get('firstName')?.errors?.required">
                Ihr Vorname wird für die Reservierung benötigt.
              </small>
            </div>
          </div>
          <div class="col">
            <label class="form-label" for="lastName">Nachname</label>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Nachname" formControlName="lastName" />
            <div
              *ngIf="
                form.controls['billingCustomer'].get('lastName')!.invalid &&
                (form.controls['billingCustomer'].get('lastName')!.dirty || form.controls['billingCustomer'].get('lastName')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="form.controls['billingCustomer'].get('lastName')?.errors?.required">
                Ihr Nachname wird für die Reservierung benötigt.
              </small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="form-label" for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Email" formControlName="email" />
            <div
              *ngIf="
                form.controls['billingCustomer'].get('email')!.invalid &&
                (form.controls['billingCustomer'].get('email')!.dirty || form.controls['billingCustomer'].get('email')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="form.controls['billingCustomer'].get('email')?.errors?.required">
                Ihre Email wird für die Reservierung benötigt.
              </small>
              <small class="form-text text-danger" *ngIf="form.controls['billingCustomer'].get('email')?.errors?.email">
                Bitte geben Sie eine korrekte Email Adresse ein.
              </small>
            </div>
          </div>
          <div class="col">
            <label class="form-label" for="telephone">Phone</label>
            <input
              type="text"
              class="form-control"
              id="telephone"
              name="telephone"
              placeholder="Telefonnummer"
              formControlName="telephone"
            />
            <div
              *ngIf="
                form.controls['billingCustomer'].get('telephone')!.invalid &&
                (form.controls['billingCustomer'].get('telephone')!.dirty || form.controls['billingCustomer'].get('telephone')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="form.controls['billingCustomer'].get('telephone')?.errors?.required">
                Ihre Telefonnummer wird für die Reservierung benötigt.
              </small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="form-label" for="birthday">Geburtsdatum</label>
            <input type="date" class="form-control" id="birthday" name="birthday" placeholder="Geburtsdatum" formControlName="birthday" />
            <div
              *ngIf="
                form.controls['billingCustomer'].get('birthday')!.invalid &&
                (form.controls['billingCustomer'].get('birthday')!.dirty || form.controls['billingCustomer'].get('birthday')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="form.controls['billingCustomer'].get('birhtday')?.errors?.required">
                Ihr Geburtsdatum wird für die Reservierung benötigt.
              </small>
            </div>
          </div>
          <div class="col">
            <label class="form-label" for="gender">Geschlecht</label>
            <select class="form-select" id="gender" name="gender" formControlName="gender">
              <option value="MALE">Männlich</option>
              <option value="FEMALE">Weiblich</option>
              <option value="DIVERSE">Divers</option>
            </select>
            <div
              *ngIf="
                form.controls['billingCustomer'].get('gender')!.invalid &&
                (form.controls['billingCustomer'].get('gender')!.dirty || form.controls['billingCustomer'].get('gender')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="form.controls['billingCustomer'].get('gender')?.errors?.required">
                Ihr Geschlecht wird für die Reservierung benötigt.
              </small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="form-label" for="billingAddress">Adresse</label>
            <input class="form-control" id="billingAddress" name="billingAddress" placeholder="Adresse" formControlName="billingAddress" />
            <div
              *ngIf="
                form.controls['billingCustomer'].get('billingAddress')!.invalid &&
                (form.controls['billingCustomer'].get('billingAddress')!.dirty ||
                  form.controls['billingCustomer'].get('billingAddress')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="form.controls['billingCustomer'].get('billingAddress')?.errors?.required">
                Ihre Adresse wird für die Reservierung benötigt.
              </small>
            </div>
          </div>
        </div>
      </div>

      <!--

        Customers

      -->
      <div class="card m-2 p-2" *ngIf="customerFormControl.length > 0">
        <ng-container formArrayName="customers">
          <ng-container *ngFor="let customerForm of customerFormControl.controls; let index = index">
            <div class="d-flex justify-content-end w-100">
              <button type="button" name="delete" class="btn btn-danger" (click)="removePersonRow(index)">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <div [formGroupName]="index">
              <div class="row">
                <div class="col">
                  <label class="form-label" for="firstName">Vorname</label>
                  <input type="text" class="form-control" name="firstName" placeholder="Vorname" formControlName="firstName" />
                  <div
                    *ngIf="
                      customerFormControl.at(index).get('firstName')!.invalid &&
                      (customerFormControl.at(index).get('firstName')!.dirty || customerFormControl.at(index).get('firstName')!.touched)
                    "
                  >
                    <small class="form-text text-danger" *ngIf="customerFormControl.at(index).get('firstName')?.errors?.required">
                      Ihr Vorname wird für die Reservierung benötigt.
                    </small>
                  </div>
                </div>
                <div class="col">
                  <label class="form-label" for="lastName">Nachname</label>
                  <input type="text" class="form-control" name="lastName" placeholder="Nachname" formControlName="lastName" />
                  <div
                    *ngIf="
                      customerFormControl.at(index).get('lastName')!.invalid &&
                      (customerFormControl.at(index).get('lastName')!.dirty || customerFormControl.at(index).get('lastName')!.touched)
                    "
                  >
                    <small class="form-text text-danger" *ngIf="customerFormControl.at(index).get('lastName')?.errors?.required">
                      Ihr Nachname wird für die Reservierung benötigt.
                    </small>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label class="form-label" for="email">Email</label>
                  <input type="text" class="form-control" name="email" placeholder="Email" formControlName="email" />
                  <div
                    *ngIf="
                      customerFormControl.at(index).get('email')!.invalid &&
                      (customerFormControl.at(index).get('email')!.dirty || customerFormControl.at(index).get('email')!.touched)
                    "
                  >
                    <small class="form-text text-danger" *ngIf="customerFormControl.at(index).get('email')?.errors?.required">
                      Ihre Email wird für die Reservierung benötigt.
                    </small>
                    <small class="form-text text-danger" *ngIf="customerFormControl.at(index).get('email')?.errors?.email">
                      Bitte geben Sie eine korrekte Email Adresse ein.
                    </small>
                  </div>
                </div>
                <div class="col">
                  <label class="form-label" for="telephone">Phone</label>
                  <input type="text" class="form-control" name="telephone" placeholder="Telefonnummer" formControlName="telephone" />
                  <div
                    *ngIf="
                      customerFormControl.at(index).get('telephone')!.invalid &&
                      (customerFormControl.at(index).get('telephone')!.dirty || customerFormControl.at(index).get('telephone')!.touched)
                    "
                  >
                    <small class="form-text text-danger" *ngIf="customerFormControl.at(index).get('telephone')?.errors?.required">
                      Ihre Telefonnummer wird für die Reservierung benötigt.
                    </small>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label class="form-label" for="birthday">Geburtsdatum</label>
                  <input type="date" class="form-control" name="birthday" placeholder="Geburtsdatum" formControlName="birthday" />
                  <div
                    *ngIf="
                      customerFormControl.at(index).get('birthday')!.invalid &&
                      (customerFormControl.at(index).get('birthday')!.dirty || customerFormControl.at(index).get('birthday')!.touched)
                    "
                  >
                    <small class="form-text text-danger" *ngIf="customerFormControl.at(index).get('birhtday')?.errors?.required">
                      Ihr Geburtsdatum wird für die Reservierung benötigt.
                    </small>
                  </div>
                </div>
                <div class="col">
                  <label class="form-label" for="gender">Geschlecht</label>
                  <select class="form-select" name="gender" formControlName="gender">
                    <option value="MALE">Männlich</option>
                    <option value="FEMALE">Weiblich</option>
                    <option value="DIVERSE">Divers</option>
                  </select>
                  <div
                    *ngIf="
                      customerFormControl.at(index).get('gender')!.invalid &&
                      (customerFormControl.at(index).get('gender')!.dirty || customerFormControl.at(index).get('gender')!.touched)
                    "
                  >
                    <small class="form-text text-danger" *ngIf="customerFormControl.at(index).get('gender')?.errors?.required">
                      Ihr Geschlecht wird für die Reservierung benötigt.
                    </small>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label class="form-label" for="billingAddress">Adresse</label>
                  <input class="form-control" name="billingAddress" placeholder="Adresse" formControlName="billingAddress" />
                  <div
                    *ngIf="
                      customerFormControl.at(index).get('billingAddress')!.invalid &&
                      (customerFormControl.at(index).get('billingAddress')!.dirty ||
                        customerFormControl.at(index).get('billingAddress')!.touched)
                    "
                  >
                    <small class="form-text text-danger" *ngIf="customerFormControl.at(index).get('billingAddress')?.errors?.required">
                      Ihr Geburtsdatum wird für die Reservierung benötigt.
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary" (click)="addPersonRow()">Person hinzufügen</button>
        </div>
      </div>
      <h4 class="mt-5 mb-2">Reservierungsdetails</h4>
      <div class="row">
        <div class="col">
          <label class="form-label" for="start">Reservierungsbeginn</label>
          <input
            type="date"
            class="form-control"
            id="start"
            name="start"
            placeholder="Reservierungsbeginn"
            formControlName="vacationStart"
          />
          <div *ngIf="form.get('vacationStart')!.invalid && (form.get('vacationStart')!.dirty || form.get('vacationStart')!.touched)">
            <small class="form-text text-danger" *ngIf="form.get('vacationStart')?.errors?.required">
              Der Reservierungsbeginn wird für die Reservierung benötigt.
            </small>
          </div>
        </div>
        <div class="col">
          <label class="form-label" for="end">Reservierungsende</label>
          <input type="date" class="form-control" id="end" name="end" placeholder="Reservierungsende" formControlName="vacationEnd" />
          <div *ngIf="form.get('vacationEnd')!.invalid && (form.get('vacationStart')!.dirty || form.get('vacationEnd')!.touched)">
            <small class="form-text text-danger" *ngIf="form.get('vacationEnd')?.errors?.required">
              Das Reservierungsende wird für die Reservierung benötigt.
            </small>
          </div>
        </div>
      </div>

      <!--

        Rooms

      -->

      <ng-container formArrayName="rooms">
        <ng-container *ngFor="let roomForm of roomsFormControl.controls; let index = index">
          <div [formGroupName]="index">
            <div class="row d-flex align-items-end">
              <div class="col">
                <label class="form-label" for="room">Zimmer</label>
                <select class="form-select" id="room" name="room" formControlName="roomID">
                  <option *ngFor="let room of rooms" value="{{ room.id }}">{{ room.identifyer }}</option>
                </select>
                <div
                  *ngIf="
                    roomsFormControl.at(index).get('roomID')!.invalid &&
                    (roomsFormControl.at(index).get('roomID')!.dirty || roomsFormControl.at(index).get('roomID')!.touched)
                  "
                >
                  <small class="form-text text-danger" *ngIf="roomsFormControl.at(index).get('roomID')?.errors?.required">
                    Sie müssen ein Zimmer für die Reservierung auswählen.
                  </small>
                </div>
              </div>
              <div class="col">
                <label class="form-label" for="room">Belegung</label>
                <select class="form-select" id="room" name="room" formControlName="capacityID">
                  <option
                    *ngFor="let price of getRoomById(roomsFormControl.at(index).get('roomID')?.value).prices"
                    value="{{ price.capacity?.id }}"
                  >
                    {{ price.capacity?.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    roomsFormControl.at(index).get('capacityID')!.invalid &&
                    (roomsFormControl.at(index).get('capacityID')!.dirty || roomsFormControl.at(index).get('capacityID')!.touched)
                  "
                >
                  <small class="form-text text-danger" *ngIf="roomsFormControl.at(index).get('capacityID')?.errors?.required">
                    Sie müssen ein Belegung für die Reservierung auswählen.
                  </small>
                </div>
              </div>
              <div class="d-flex col-2 h-100 justify-content-end" *ngIf="index > 0">
                <label class="form-label" for="delete"></label>
                <button type="button" name="delete" class="btn btn-danger" (click)="removeRoomRow(index)">
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary" (click)="addRoomRow()">Zimmer hinzufügen</button>
        </div>
      </div>

      <div class="mt-5 mb-2">
        <h4>Zusammenfassung</h4>
        <div *ngFor="let room of roomsFormControl.value">
          <div class="d-flex w-100 justify-content-between">
            <div>{{ getRoomById(room.roomID).identifyer }}</div>
            <div>
              <div>{{ getCountDays() + ' x ' + getPriceByCapacityID(getRoomById(room.roomID), room.capacityID) | currency: 'EUR' }}</div>
            </div>
          </div>
        </div>
        <!-- <div class="d-flex w-100 justify-content-between">
          <div>Zimmerpreis</div>
          <div>652€</div>
        </div>
        <div class="d-flex w-100 justify-content-between" *ngIf="promo !== null">
          <div><strong>-</strong> Aktionspreis</div>
          <div><strong>-</strong> 222€</div>
        </div> -->
        <hr />
        <div class="d-flex w-100 justify-content-between">
          <div>
            <strong>Summe</strong>
          </div>
          <div>
            <strong>{{ getSum(roomsFormControl.value) | currency: 'EUR' }}</strong>
          </div>
        </div>
      </div>

      <div class="d-flex w-100 justify-content-end">
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary mt-3">Reservierung abschließen</button>
      </div>
    </form>
  </div>
</div>
