<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="bulkLetterTemplate">
      <h2 data-cy="bulkLetterTemplateDetailsHeading">
        <span jhiTranslate="lionhotelApp.bulkLetterTemplate.detail.title">Bulk Letter Template</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ bulkLetterTemplate.id }}</span>
        </dd>
        <dt><span jhiTranslate="lionhotelApp.bulkLetterTemplate.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'lionhotelApp.BulkLetterType.' + bulkLetterTemplate.type }}">{{ bulkLetterTemplate.type }}</span>
        </dd>
        <dt><span jhiTranslate="lionhotelApp.bulkLetterTemplate.date">Date</span></dt>
        <dd>
          <span>{{ bulkLetterTemplate.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="lionhotelApp.bulkLetterTemplate.subject">Subject</span></dt>
        <dd>
          <span>{{ bulkLetterTemplate.subject }}</span>
        </dd>
        <dt><span jhiTranslate="lionhotelApp.bulkLetterTemplate.content">Content</span></dt>
        <dd>
          <span>{{ bulkLetterTemplate.content }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Zurück</span>
      </button>

      <button type="button" [routerLink]="['/bulk-letter-template', bulkLetterTemplate.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Bearbeiten</span>
      </button>
    </div>
  </div>
</div>
