<div>
  <h2 id="page-heading" data-cy="BookingHeading">
    <span jhiTranslate="lionhotelApp.booking.home.title">Bookings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="lionhotelApp.booking.home.refreshListLabel">Liste aktualisieren</span>
      </button>

      <!-- <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-booking"
        [routerLink]="['/booking/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lionhotelApp.booking.home.createLabel"> Booking erstellen </span>
      </button> -->
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="bookings?.length === 0">
    <span jhiTranslate="lionhotelApp.booking.home.notFound">Keine Bookings gefunden</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="bookings && bookings.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>BookingCode</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="discount">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.booking.discount">Discount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="price">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.booking.price">Price</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="startDate">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.booking.startDate">Start Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="duration">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.booking.duration">Duration</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cancled">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.booking.cancled">Cancled</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="customers.id">
            <div class="d-flex">
              <span>Customer</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="customers.id">
            <div class="d-flex">
              <span>Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rooms.id">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.booking.rooms">Rooms</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of bookings; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/booking', booking.id, 'view']">{{ booking.id }}</a>
          </td>
          <td>{{ booking.bookingCode }}</td>
          <td>{{ booking.discount }}</td>
          <td>{{ booking.price / 100 + "€" }}</td>
          <td>{{ booking.startDate }}</td>
          <td>{{ booking.duration }}</td>
          <td>{{ booking.cancled }}</td>
          <td>{{ booking.billingCustomer === null ? '' : booking.billingCustomer.name }}</td>
          <td>{{ booking.billingCustomer === null ? '' : booking.billingCustomer.email }}</td>
          <!-- <td>
            <span *ngFor="let customers of booking.customers; let last = last">
              <a class="form-control-static" [routerLink]="['/customer', customers.id, 'view']">{{ customers.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td> -->
          <td>
            <div *ngFor="let room of booking.rooms">
              <span>
                {{room.room.identifyer + '|' + room.capacity.name}}
              </span>
            </div>
          </td>
          <!-- <td>
            <span *ngFor="let rooms of booking.rooms; let last = last">
              <a class="form-control-static" [routerLink]="['/room', rooms.id, 'view']">{{ rooms.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td> -->
          <td class="text-end">
            <div class="btn-group">
              <!-- <button
                type="submit"
                [routerLink]="['/booking', booking.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Details</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/booking', booking.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Bearbeiten</span>
              </button> -->

              <button type="submit" (click)="delete(booking)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Stornieren</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
