<div>
  <h2 id="page-heading" data-cy="InvoiceHeading">
    <span jhiTranslate="lionhotelApp.invoice.home.title">Invoices</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="lionhotelApp.invoice.home.refreshListLabel">Liste aktualisieren</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-invoice"
        [routerLink]="['/invoice/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lionhotelApp.invoice.home.createLabel"> Invoice erstellen </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="invoices?.length === 0">
    <span jhiTranslate="lionhotelApp.invoice.home.notFound">Keine Invoices gefunden</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="invoices && invoices.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="hotelAddress">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.invoice.hotelAddress">Hotel Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="customerAddress">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.invoice.customerAddress">Customer Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="discount">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.invoice.discount">Discount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="price">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.invoice.price">Price</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="duration">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.invoice.duration">Duration</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="billingDate">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.invoice.billingDate">Billing Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cancled">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.invoice.cancled">Cancled</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoices; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/invoice', invoice.id, 'view']">{{ invoice.id }}</a>
          </td>
          <td>{{ invoice.hotelAddress }}</td>
          <td>{{ invoice.customerAddress }}</td>
          <td>{{ invoice.discount }}</td>
          <td>{{ (invoice.price || 0) / 100 | currency: 'EUR' }}</td>
          <td>{{ invoice.duration }}</td>
          <td>{{ invoice.billingDate | formatMediumDate }}</td>
          <td>{{ invoice.cancled }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/invoice', invoice.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Details</span>
              </button>

              <button
                type="submit"
                (click)="delete(invoice)"
                [disabled]="invoice.cancled"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Stornieren</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
