<div class="container">
  <!-- <div class="card px-5 py-3 m-2" *ngFor="let room of rooms">
    <h2>{{room.title}}</h2>
    <p>{{room.description}}</p>
    <img src="../../content/images/{{room.image}}" title="{{room.title}}" class="room-image">
  </div> -->
  <!-- <div class="room" >

  </div> -->
  <div class="card m-2" *ngFor="let room of rooms" style="width: 50rem;">
    <img class="card-img-top" src="../../content/images/{{room.image}}" alt="{{room.title}}">
    <div class="card-body">
      <h5 class="card-title">{{room.title}}</h5>
      <p class="card-text">{{room.description}}</p>
      <div class="w-100 justify-content-between">
        <span>ab {{room.price}}</span>
        <a href="#" class="btn btn-primary" (click)="bookRoom(room)">Reservieren</a>
      </div>
    </div>
  </div>
</div>
