<div>
  <h2 id="page-heading" data-cy="WorkPackageHeading">
    <span jhiTranslate="lionhotelApp.workPackage.home.title">Work Packages</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="lionhotelApp.workPackage.home.refreshListLabel">Liste aktualisieren</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-work-package"
        [routerLink]="['/work-package/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lionhotelApp.workPackage.home.createLabel"> Work Package erstellen </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="workPackages?.length === 0">
    <span jhiTranslate="lionhotelApp.workPackage.home.notFound">Keine Work Packages gefunden</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="workPackages && workPackages.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="start">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.workPackage.start">Start</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="end">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.workPackage.end">End</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="summary">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.workPackage.summary">Summary</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.workPackage.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="humanResource.id">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.workPackage.humanResource">Human Resource</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workPackage of workPackages; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/work-package', workPackage.id, 'view']">{{ workPackage.id }}</a>
          </td>
          <td>{{ workPackage.start | formatMediumDate }}</td>
          <td>{{ workPackage.end | formatMediumDate }}</td>
          <td>{{ workPackage.summary }}</td>
          <td>{{ workPackage.description }}</td>
          <td>
            <div *ngIf="workPackage.humanResource">
              <a [routerLink]="['/human-resource', workPackage.humanResource.id, 'view']">{{ workPackage.humanResource.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/work-package', workPackage.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Details</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/work-package', workPackage.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Bearbeiten</span>
              </button>

              <button type="submit" (click)="delete(workPackage)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Löschen</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
