<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-vacation-heading" data-cy="VacationCreateUpdateHeading" jhiTranslate="lionhotelApp.vacation.home.createOrEditLabel">
        Vacation erstellen oder bearbeiten
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lionhotelApp.vacation.start" for="field_start">Start</label>
          <div class="input-group">
            <input
              id="field_start"
              data-cy="start"
              type="text"
              class="form-control"
              name="start"
              ngbDatepicker
              #startDp="ngbDatepicker"
              formControlName="start"
            />
            <button type="button" class="btn btn-secondary" (click)="startDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lionhotelApp.vacation.end" for="field_end">End</label>
          <div class="input-group">
            <input
              id="field_end"
              data-cy="end"
              type="text"
              class="form-control"
              name="end"
              ngbDatepicker
              #endDp="ngbDatepicker"
              formControlName="end"
            />
            <button type="button" class="btn btn-secondary" (click)="endDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lionhotelApp.vacation.state" for="field_state">State</label>
          <select class="form-control" name="state" formControlName="state" id="field_state" data-cy="state">
            <option [ngValue]="null">{{ 'lionhotelApp.VacationState.null' | translate }}</option>
            <option *ngFor="let vacationState of vacationStateValues" [value]="vacationState">
              {{ 'lionhotelApp.VacationState.' + vacationState | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lionhotelApp.vacation.humanResource" for="field_humanResource">Human Resource</label>
          <select
            class="form-control"
            id="field_humanResource"
            data-cy="humanResource"
            name="humanResource"
            formControlName="humanResource"
            [compareWith]="compareHumanResource"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="humanResourceOption" *ngFor="let humanResourceOption of humanResourcesSharedCollection">
              {{ humanResourceOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Abbrechen</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Speichern</span>
        </button>
      </div>
    </form>
  </div>
</div>
