<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="globalSettings">
      <h2 data-cy="globalSettingsDetailsHeading"><span jhiTranslate="lionhotelApp.globalSettings.detail.title">Global Settings</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ globalSettings.id }}</span>
        </dd>
        <dt><span jhiTranslate="lionhotelApp.globalSettings.cancelTime">Cancel Time</span></dt>
        <dd>
          <span>{{ globalSettings.cancelTime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Zurück</span>
      </button>

      <button type="button" [routerLink]="['/global-settings', globalSettings.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Bearbeiten</span>
      </button>
    </div>
  </div>
</div>
