<div class="root">
  <h1>Erstelle neues Zimmer</h1>
  <div>
    <div class="form">
      <div class="content">
        <div class="general">
          <div class="option">
            <label for="id-input">Zimmernummer:</label>
            <input id="id-input" type="text" />
          </div>
          <div class="option">
            <label for="capacity-input">Maximalbelegung:</label>
            <input id="capacity-input" type="number" />
          </div>
        </div>

        <div>
          <table>
            <thead>
              <tr>
                <th>Belegung</th>
                <th>Preis</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let price of prices">
                <td>
                  <select [ngModel]="price.capacity">
                    <option *ngFor="let capacity of capacities" [value]="capacity">{{ capacity.name }}</option>
                  </select>
                </td>
                <td><input type="number" [ngModel]="price.price" /></td>
              </tr>
            </tbody>
          </table>
          <button (click)="addNewPrice()">Weiteren Preis hinzufügen</button>
        </div>
      </div>
      <div class="images"></div>

      <div class="images">
        <div class="image-card" *ngFor="let i of imageAsBase64">
          <img alt="{{ i.description }}" src="{{ i.base64 }}" />
          <input class="image-description" type="text" [ngModel]="i.description" />
        </div>
      </div>
      <input type="file" (change)="onFileSelected($event)" accept="image/*" multiple />
    </div>
  </div>
</div>
