<div class="root">
  <h1>Erstelle neues Zimmer</h1>
  <div>
    <div class="form">
      <div class="content">
        <div class="general">
          <div class="option">
            <label for="id-input">Zimmernummer:</label>
            <input id="id-input" type="text" />
          </div>
          <div class="option">
            <label for="capacity-input">Maximalbelegung:</label>
            <input id="capacity-input" type="number" />
          </div>
        </div>

        <div>
          <table>
            <thead>
              <tr>
                <th>Belegung</th>
                <th>Preis</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>A</td>
                <td>€</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="images"></div>
    </div>
  </div>
</div>
