<div class="base">
  <div class="root">
    <h1>Zimmer: {{ room?.identifyer ?? '' }}</h1>
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>
    <div class="content">
      <div class="images box">
        <ngb-carousel *ngIf="roomPictures.length > 0">
          <ng-template ngbSlide *ngFor="let picture of roomPictures">
            <div class="picsum-img-wrapper">
              <img [src]="picture.image" [alt]="picture.description" />
            </div>
            <div class="carousel-caption">
              <p>{{ picture.description }}</p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
      <div class="information box">
        <table>
          <colgroup>
            <col class="capacity-column" />
            <col class="price-column" />
          </colgroup>
          <thead>
            <tr>
              <th>Belegung</th>
              <th>Preis</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let price of room?.prices ?? []">
              <td>{{ price.capacity?.name ?? '' }} ({{ price.capacity?.capacity ?? '' }})</td>
              <td class="price-cell">€ {{ price.price / 100 | number: '1.2-2' }}</td>
            </tr>
          </tbody>
        </table>
        <div class="space"></div>
        <div class="submit-box"><button class="btn btn-secondary" (click)="reserve()">Reservieren</button></div>
      </div>
      <div class="admin-buttons"></div>
    </div>
  </div>
</div>
