<div class="base">
  <div class="root">
    <h1>Zimmer: {{ room?.identifyer ?? '' }}</h1>
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>
    <div class="content">
      <div class="images box">TODO image</div>
      <div class="information box">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Belegung</th>
              <th>Preis</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let price of room?.prices ?? []">
              <td>X</td>
              <td>{{ price.capacity?.name ?? '' }} ({{ price.capacity?.capacity ?? '' }})</td>
              <td>€ {{ price.price }}</td>
            </tr>
          </tbody>
        </table>
        <div class="submit-box"><button class="btn btn-secondary">Reservieren</button></div>
      </div>
      <div class="admin-buttons"></div>
    </div>
  </div>
</div>
