<div>
  <h2 id="page-heading" data-cy="HumanResourceHeading">
    <span jhiTranslate="lionhotelApp.humanResource.home.title">Human Resources</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="lionhotelApp.humanResource.home.refreshListLabel">Liste aktualisieren</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-human-resource"
        [routerLink]="['/human-resource/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lionhotelApp.humanResource.home.createLabel"> Human Resource erstellen </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="humanResources?.length === 0">
    <span jhiTranslate="lionhotelApp.humanResource.home.notFound">Keine Human Resources gefunden</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="humanResources && humanResources.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.humanResource.type">Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="abbr">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.humanResource.abbr">Abbr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.humanResource.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="birthday">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.humanResource.birthday">Birthday</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="gender">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.humanResource.gender">Gender</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="phone">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.humanResource.phone">Phone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.humanResource.email">Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ssn">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.humanResource.ssn">Ssn</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bannking">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.humanResource.bannking">Bannking</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="relationshipType">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.humanResource.relationshipType">Relationship Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let humanResource of humanResources; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/human-resource', humanResource.id, 'view']">{{ humanResource.id }}</a>
          </td>
          <td jhiTranslate="{{ 'lionhotelApp.HumanResourceType.' + humanResource.type }}">{{ humanResource.type }}</td>
          <td>{{ humanResource.abbr }}</td>
          <td>{{ humanResource.name }}</td>
          <td>{{ humanResource.birthday | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'lionhotelApp.Gender.' + humanResource.gender }}">{{ humanResource.gender }}</td>
          <td>{{ humanResource.phone }}</td>
          <td>{{ humanResource.email }}</td>
          <td>{{ humanResource.ssn }}</td>
          <td>{{ humanResource.bannking }}</td>
          <td>{{ humanResource.relationshipType }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/human-resource', humanResource.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Details</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/human-resource', humanResource.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Bearbeiten</span>
              </button>

              <button type="submit" (click)="delete(humanResource)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Löschen</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
