<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1 jhiTranslate="register.title" data-cy="registerTitle">Registrierung</h1>

      <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
        <strong>Registrierung gespeichert!</strong> Bitte überprüfen Sie Ihre E-Mails für die Bestätigung.
      </div>

      <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
        <strong>Registrierung fehlgeschlagen!</strong> Bitte versuchen Sie es später nochmal.
      </div>

      <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
        <strong>Benutzername bereits vergeben!</strong> Bitte wählen Sie einen anderen aus.
      </div>

      <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
        <strong>E-Mail-Adresse wird bereits verwendet!</strong> Bitte wählen Sie eine andere aus.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
        Das bestätigte Passwort entspricht nicht dem neuen Passwort!
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
        <div class="mb-3">
          <label class="form-label" for="login" jhiTranslate="global.form.username.label">Benutzername</label>
          <input
            type="text"
            class="form-control"
            id="login"
            name="login"
            placeholder="{{ 'global.form.username.placeholder' | translate }}"
            formControlName="login"
            data-cy="username"
            #login
          />

          <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('login')?.errors?.required"
              jhiTranslate="register.messages.validate.login.required"
            >
              Ihr Benutzername wird benötigt.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('login')?.errors?.minlength"
              jhiTranslate="register.messages.validate.login.minlength"
            >
              Ihr Benutzername muss mindestens ein Zeichen lang sein.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('login')?.errors?.maxlength"
              jhiTranslate="register.messages.validate.login.maxlength"
            >
              Ihr Benutzername darf nicht länger als 50 Zeichen sein.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('login')?.errors?.pattern"
              jhiTranslate="register.messages.validate.login.pattern"
            >
              Ihr Benutzername ist ungültig.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="email" jhiTranslate="global.form.email.label">Email Adresse</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="{{ 'global.form.email.placeholder' | translate }}"
            formControlName="email"
            data-cy="email"
          />

          <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('email')?.errors?.required"
              jhiTranslate="global.messages.validate.email.required"
            >
              Ihre Email Adresse wird benötigt.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('email')?.errors?.invalid"
              jhiTranslate="global.messages.validate.email.invalid"
            >
              Ihre Email Adresse ist ungültig.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('email')?.errors?.minlength"
              jhiTranslate="global.messages.validate.email.minlength"
            >
              Ihre Email Adresse muss mindestens 5 Zeichen lang sein
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('email')?.errors?.maxlength"
              jhiTranslate="global.messages.validate.email.maxlength"
            >
              Ihre Email Adresse darf nicht länger als 50 Zeichen sein
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="password" jhiTranslate="global.form.newpassword.label">Neues Passwort</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
            formControlName="password"
            data-cy="firstPassword"
          />

          <div
            *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('password')?.errors?.required"
              jhiTranslate="global.messages.validate.newpassword.required"
            >
              Ein neues Passwort wird benötigt.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('password')?.errors?.minlength"
              jhiTranslate="global.messages.validate.newpassword.minlength"
            >
              Das neue Passwort muss mindestens 4 Zeichen lang sein
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('password')?.errors?.maxlength"
              jhiTranslate="global.messages.validate.newpassword.maxlength"
            >
              Das neue Passwort darf nicht länger als 50 Zeichen sein
            </small>
          </div>

          <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
        </div>

        <div class="mb-3">
          <label class="form-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label">Neues Passwort bestätigen</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
            formControlName="confirmPassword"
            data-cy="secondPassword"
          />

          <div
            *ngIf="
              registerForm.get('confirmPassword')!.invalid &&
              (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('confirmPassword')?.errors?.required"
              jhiTranslate="global.messages.validate.confirmpassword.required"
            >
              Sie müssen das Passwort bestätigen.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
              jhiTranslate="global.messages.validate.confirmpassword.minlength"
            >
              Das bestätigte Passwort muss mindestens 4 Zeichen lang sein
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"
              jhiTranslate="global.messages.validate.confirmpassword.maxlength"
            >
              Das bestätigte Passwort darf nicht länger als 50 Zeichen sein
            </small>
          </div>
        </div>

        <button
          type="submit"
          [disabled]="registerForm.invalid"
          class="btn btn-primary"
          jhiTranslate="register.form.button"
          data-cy="submit"
        >
          Registrieren
        </button>
      </form>

      <div class="mt-3 alert alert-warning">
        <span jhiTranslate="global.messages.info.authenticated.prefix">Wenn Sie sich </span>
        <a class="alert-link" routerLink="/login" jhiTranslate="global.messages.info.authenticated.link">anmelden</a
        ><span jhiTranslate="global.messages.info.authenticated.suffix">
          möchten, versuchen Sie es mit <br />- Administrator (Name="admin" und Passwort="admin")<br />- Benutzer (Name="user" und
          Passwort="user").</span
        >
      </div>
    </div>
  </div>
</div>
