/* ==========================================================================
Main page styles
========================================================================== */
.lionhotel {
  background: url('../../content/images/hotel-bg.jpg') no-repeat center;
  background-size: cover;
}

.home-text {
  color: white;
  font-family: 'Brush Script MT', cursive;
  font-size: 64px;
}
.home-icon {
  height: 150px;
  filter: invert(100%);
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
    background-size: contain;
  }
}
