<div class="base">
  <div class="root">
    <h1 id="page-heading" data-cy="VacationHeading">
      <span jhiTranslate="lionhotelApp.vacation.home.title">Urlaubanträge</span>

      <div class="d-flex justify-content-end">
        <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span jhiTranslate="lionhotelApp.vacation.home.refreshListLabel">aktualisieren</span>
        </button>
      </div>
    </h1>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="vacations?.length === 0">
      <span jhiTranslate="lionhotelApp.vacation.home.notFound">Keine Vacations gefunden</span>
    </div>

    <div class="table-responsive table-entities" id="entities" *ngIf="vacations && vacations.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>Name</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>Bereich</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="start">
              <div class="d-flex">
                <span>von</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="end">
              <div class="d-flex">
                <span>bis</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex">
                <span jhiTranslate="lionhotelApp.vacation.duration">Dauer</span>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vacation of vacationApply" data-cy="entityTable">
            <td>
              <b>{{ vacation.user.firstName }} {{ vacation.user.lastName }}</b>
              <!--a [routerLink]="['/vacation', vacation.id, 'view']">{{ vacation.id }}</a-->
            </td>
            <td>
              <i>{{ vacation.user.area }}</i>
            </td>
            <td>{{ vacation.from | date }}</td>
            <td>{{ vacation.to | date }}</td>
            <td>{{ vacation.from && vacation.to ? vacationDateService.getVacationDays(vacation.from, vacation.to) : '' }} Tage</td>
            <td></td>
            <td class="text-end">
              <div class="buttom-group">
                <button class="btn btn-danger btn-sm btn-action" data-cy="entityDetailsButton" (click)="reject(vacation)">
                  <span class="d-none d-md-inline"><fa-icon [icon]="ICONS.faXmark"></fa-icon> </span>
                </button>

                <button class="btn btn-success btn-sm btn-action" data-cy="entityDetailsButton" (click)="approve(vacation)">
                  <span class="d-none d-md-inline"><fa-icon [icon]="ICONS.faCheck"></fa-icon></span>
                </button>

                <button
                  type="submit"
                  [routerLink]="['/vacation/check', vacation.id]"
                  class="btn btn-secondary btn-sm btn-detail"
                  data-cy="entityDetailsButton"
                >
                  <span class="d-none d-md-inline">Details &gt;</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
