<div>
  <h2 id="page-heading" data-cy="VacationHeading">
    <span jhiTranslate="lionhotelApp.vacation.home.title">Vacations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="lionhotelApp.vacation.home.refreshListLabel">Liste aktualisieren</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vacation"
        [routerLink]="['/vacation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lionhotelApp.vacation.home.createLabel"> Vacation erstellen </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="vacations?.length === 0">
    <span jhiTranslate="lionhotelApp.vacation.home.notFound">Keine Vacations gefunden</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="vacations && vacations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="start">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.vacation.start">Start</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="end">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.vacation.end">End</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="state">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.vacation.state">State</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="humanResource.id">
            <div class="d-flex">
              <span jhiTranslate="lionhotelApp.vacation.humanResource">Human Resource</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vacation of vacations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/vacation', vacation.id, 'view']">{{ vacation.id }}</a>
          </td>
          <td>{{ vacation.start | formatMediumDate }}</td>
          <td>{{ vacation.end | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'lionhotelApp.VacationState.' + vacation.state }}">{{ vacation.state }}</td>
          <td>
            <div *ngIf="vacation.humanResource">
              <a [routerLink]="['/human-resource', vacation.humanResource.id, 'view']">{{ vacation.humanResource.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/vacation', vacation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Details</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/vacation', vacation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Bearbeiten</span>
              </button>

              <button type="submit" (click)="delete(vacation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Löschen</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
