<div class="base">
  <div class="root">
    <h1>Urlaub Genehmigen:</h1>
    <div class="box checking-card">
      <div class="applyment-column">
        <div class="applyment-row">
          <div class="appl-label">Name:</div>
          {{ vacation?.user?.firstName ?? '' }} {{ vacation?.user?.lastName ?? '' }}
        </div>
        <div class="applyment-row">
          <div class="appl-label">Bereich:</div>
          {{ vacation?.user?.type ?? '' }}
        </div>
      </div>
      <div class="applyment-column">
        <div class="applyment-row">
          <div class="appl-label long">Aktueller Urlaub:</div>
          {{ vacation?.user?.id ?? '' }} Tage
          <!-- TODO: get free days not including applied vacation -->
        </div>
        <div class="applyment-row">
          <div class="appl-label long">Resturlaub:</div>
          {{ vacation ? (vacation?.user?.id ?? 0) - vacationDateService.getVacationDays(vacation.start, vacation.end) : '' }} Tage
        </div>
      </div>
      <div class="applyment-column">
        <div class="applyment-row">
          <div class="appl-label">Von:</div>
          {{ vacation?.start | date }}
        </div>
        <div class="applyment-row">
          <div class="appl-label">Bis:</div>
          {{ vacation?.end | date }}
        </div>
      </div>
    </div>

    <div class="vacation-form">
      <button class="btn btn-danger" (click)="reject(vacation)">Ablehnen</button>
      <button class="btn btn-success" (click)="approve(vacation)">Genehmigen</button>
    </div>

    <hr />

    <h2>Überschneidungen:</h2>

    <div class="overlapping-list">
      <div
        [class]="['box', 'overlapping-list-card', v.state.toLowerCase()]"
        *ngFor="let v of overlappings | overlappings: { states: ['APPROVED', 'APPLIED'] }"
      >
        <h3>{{ v.user.firstName }} {{ v.user.lastName }}</h3>
        <p class="ol-area">{{ v.user.area }}</p>
        <p>{{ v.start | date }} - {{ v.end | date }}</p>
        <p class="ol-state">
          <span [jhiTranslate]="'lionhotelApp.vacation.state.' + v.state.toLowerCase()">{{ v.state }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
