<div class="container" style="max-width: 650px;">
  <div class="alert alert-success" *ngIf="success">
    Reservierung erfolgreich storniert.
  </div>
  <div class="alert alert-danger" *ngIf="error">
    Reservierung kann nicht storniert werden.
  </div>
  <div class="d-flex w-100 mt-3" *ngIf="!success">
    <input type="text" class="form-control w-100" style="max-width: 400px;" [(ngModel)]="reservationNumber">
    <button type="button" class="btn btn-primary w-auto" (click)="loadReservation()">Reservierung anzeigen</button>
  </div>
  <div class="d-flex w-100 flex-column mt-5" *ngIf="reservation">
    <div class="row m-1 p-2 border border-2 border-secondary rounded">
      <div class="col text-center">
        <span>{{reservation.firstName}}</span>
      </div>
      <div class="col text-center">
        <span>{{reservation.lastName}}</span>
      </div>
    </div>
    <div class="row m-1 p-2 border border-2 border-secondary rounded">
      <div class="col text-center">
        <span>{{reservation.email}}</span>
      </div>
      <div class="col text-center">
        <span>{{reservation.tel}}</span>
      </div>
    </div>
    <div class="row m-1 p-2 border border-2 border-secondary rounded">
      <div class="col text-center">
        <span>{{reservation.birthdate}}</span>
      </div>
      <div class="col text-center">
        <span>{{getGender(reservation.gender)}}</span>
      </div>
    </div>
    <div class="row m-1 p-2 border border-2 border-secondary rounded">
      <div class="col text-center">
        <span>{{reservation.reservationStart}}</span>
      </div>
      <div class="col text-center">
        <span>{{reservation.reservationEnd}}</span>
      </div>
    </div>
    <div class="row m-1 p-2 border border-2 border-secondary rounded">
      <div class="col text-center">
        <span>{{getRoomById(reservation.room)}}</span>
      </div>
      <div class="col text-center">
        <span>{{reservation.price}}</span>
      </div>
    </div>
    <div class="d-flex m-1 w-100 justify-content-end">
      <button class="btn btn-outline-danger" (click)="cancelReservation()">Stornieren</button>
    </div>
  </div>
</div>
