.vcf-label {
  font-weight: 600;
  min-width: 5rem;
}
.vcf-name {
  font-weight: bolder;
}

.vcf-area {
  font-style: italic;
}

.vcf-row {
  display: flex;
}

.vcf-vacation-box {
  margin-top: 0.5rem;
}
