.room-image {
  width: 100%;
  max-height: 35em;
  overflow: hidden;
}

.card {
  max-width: 75% !important;
}

.buttons {
  position: absolute;
  top: -1.5rem;
  height: 3rem;
  width: 100%;
  text-align: right;
}

.x-button {
  position: relative;
  right: -1.5rem;
  padding: 0;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  font-size: 1.5em;
  font-weight: bold;
  overflow: visible;
}
