<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="user">
      <h2>
        <span jhiTranslate="userManagement.detail.title">Benutzer</span> [<strong>{{ user.login }}</strong
        >]
      </h2>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="userManagement.login">Login</span></dt>
        <dd>
          <span>{{ user.login }}</span>
          <span *ngIf="user.activated" class="badge bg-success" jhiTranslate="userManagement.activated">Aktiv</span>
          <span *ngIf="!user.activated" class="badge bg-danger" jhiTranslate="userManagement.deactivated">Deaktiviert</span>
        </dd>

        <dt><span jhiTranslate="userManagement.firstName">Vorname</span></dt>
        <dd>{{ user.firstName }}</dd>

        <dt><span jhiTranslate="userManagement.lastName">Nachname</span></dt>
        <dd>{{ user.lastName }}</dd>

        <dt><span jhiTranslate="userManagement.email">Email</span></dt>
        <dd>{{ user.email }}</dd>

        <dt><span jhiTranslate="userManagement.type">Aufgabengebiet</span></dt>
        <dd>
          <span jhiTranslate="userManagement.types.{{ user.type }}">{{ user.type }}</span>
        </dd>

        <dt><span jhiTranslate="userManagement.profiles">Rechte</span></dt>
        <dd>
          <ul class="list-unstyled">
            <li *ngFor="let authority of user.authorities">
              <span class="badge bg-info" jhiTranslate="userManagement.authorities.{{ authority }}">{{ authority }}</span>
            </li>
          </ul>
        </dd>

        <dt><span jhiTranslate="userManagement.gender">Geschlecht</span></dt>
        <dd>
          <span jhiTranslate="userManagement.genders.{{ user.gender }}">{{ user.gender }}</span>
        </dd>

        <dt><span jhiTranslate="userManagement.birthday">Geburtstag</span></dt>
        <dd>{{ user.birthday }}</dd>

        <dt><span jhiTranslate="userManagement.phone">Telefonnummer</span></dt>
        <dd>{{ user.phone }}</dd>

        <dt><span jhiTranslate="userManagement.ssn">Sozialversicherungsnummer</span></dt>
        <dd>{{ user.ssn }}</dd>

        <dt><span jhiTranslate="userManagement.banking">Bankdaten (IBAN)</span></dt>
        <dd>{{ user.banking }}</dd>

        <dt><span jhiTranslate="userManagement.address">Adresse</span></dt>
        <dd>{{ user.address }}</dd>

        <dt><span jhiTranslate="userManagement.langKey">Sprache</span></dt>
        <dd>{{ user.langKey }}</dd>

        <dt><span jhiTranslate="userManagement.createdBy">Erstellt von</span></dt>
        <dd>{{ user.createdBy }}</dd>

        <dt><span jhiTranslate="userManagement.createdDate">Erstellt am</span></dt>
        <dd>{{ user.createdDate | date: 'yyyy-MM-dd HH:mm' }}</dd>

        <dt><span jhiTranslate="userManagement.lastModifiedBy">Bearbeitet von</span></dt>
        <dd>{{ user.lastModifiedBy }}</dd>

        <dt><span jhiTranslate="userManagement.lastModifiedDate">Zuletzt bearbeitet</span></dt>
        <dd>{{ user.lastModifiedDate | date: 'yyyy-MM-dd HH:mm' }}</dd>
      </dl>

      <button type="submit" routerLink="../../" class="btn btn-info">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Zurück</span>
      </button>
    </div>
  </div>
</div>
